.eventsCard {
    background: #333;
    width: 25rem;
    min-height: 10rem;
}

.eventsCard h3 {
    font-size: 1.2rem;
    border-bottom: 1px solid #555;
    color: #FF0;
    padding: 5px;
}

.eventsCard h3 span {
    float: right;
    font-size: .9rem;
    color: #666;
    background: #000;
    padding: 3px;
    border-radius: 17px;
    margin: 0px;
}
.eventsCard p{
    color: #FFF;
}
.addEvent{
    border: 1px solid #555;
    display: flex;
    align-items: center;
    align-content: center;
}
.addEvent a{
    font-size: 2em;
}